@import "tailwindcss";

/* Define light theme variables */
:root {
  --color-background: #f8f9fa;
  --color-text: #121212;
  --color-primary: #00e5ff;
  --color-secondary: #487f89;
  --color-tertiary: #fec931;
  --color-neutral: #f8f9fa;
}

/* Dark theme overrides */
.dark {
  --color-background: #121212;
  --color-text: #ffffff;
  --color-primary: #00e5ff;
  --color-secondary: #475569;
  --color-tertiary: #ccff00;
  --color-neutral: #121212;
}

/* Optional: Tailwind classes that use the variables */
.background {
  background-color: var(--color-background);
}
.text {
  color: var(--color-text);
}
.text-primary {
  color: var(--color-primary);
}
.bg-primary {
  background-color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.text-tertiary {
  color: var(--color-tertiary);
}
.bg-tertiary {
  background-color: var(--color-tertiary);
}
.text-neutral {
  color: var(--color-neutral);
}
.bg-neutral {
  background-color: var(--color-neutral);
}
